/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
body {
  margin: 0;
  margin-bottom: 100px;
  font-family: 'Inconsolata', sans-serif;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 1000px;
  margin: 50px auto;
}
